.CodeMirror {
    font-size: 14px;
}

.code-editor .base16-light .CodeMirror {
    background: #fff;
    color: #050505;
}

.code-editor .base16-light .CodeMirror-gutters {
    background: #fff;
    border-right: 1px dashed #050505;
}

.code-editor .CodeMirror-linenumber {
    padding: 0 1px;
    text-align: center;
}

.code-editor .base16-light span.cm-keyword {
    color: #050505;
    font-weight: bold;
}

.code-editor .base16-light span.cm-def,
.code-editor .base16-light span.cm-variable,
.code-editor .base16-light span.cm-attribute,
.code-editor .base16-light span.cm-variable-2 {
    color: #050505;
}

.code-editor .base16-light span.cm-property {
    color: #263238;
}

.code-editor .base16-light span.cm-atom {
    color: #424242;
    font-weight: bold;
}

.code-editor .base16-light span.cm-number {
    color: #F44336;
}

.code-editor .base16-light span.cm-string,
.code-editor .base16-light span.cm-string-2 {
    color: #9E9E9E;
}
